body{
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: Arial;
}

.title{
    font-size: 20px;
    font-weight: bold;
}

.move-icon{
    margin-right:10px;
    cursor: pointer;
    padding:20px;
    height:80px;
   
}
.move-button{
    border:white solid 4px;
    background-color: transparent;
    height:180px;
    width:180px;
    border-radius:90px;
    margin-right: 10px;
}

.result{
    font-size: 25px;
    font-weight: bold;
    margin-top:20px;
    margin-bottom: 50px;
}

.score{
    margin:60px 10px;
    font-size: 20px;
}

.reset-button,.auto-play-button{
    background-color: white;
    padding:10px 14px;
    border:none;
    border-radius:15px;
    font-size: 17px;
}
